.sidebar {
    background: white;
    padding: 30px;
    width: 250px;
}

.sidebar .between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.sidebar .navLinks {
    margin-top: 40px;
}


.sidebar .navLinks ul a li{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.sidebar .navLinks ul a li:hover{
    color: #0989ff;
    transition: .3s;
}

.sidebar .navLinks ul a li svg {
    font-size: 22px;
}

.sidebar .hamburger {
    font-size: 25px;
    display: none;
    z-index: 50;
    cursor: pointer;
}

.showNavLinks {
    display: block;
}

/* responsive */

@media screen and (width <= 767px){
    .sidebar {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 15px 20px 10px;
    }
    .hideSidebar {
        display: none;
        margin-top: 40px;
    }
    .navLinks {
        display: none;
    }
    .showNavLinks {
        display: block !important;
        margin-top: 30px;
    }

    .sidebar .hamburger {
        display: block;
    }
}

@media screen and (768px <= width <= 1150px){
    .sidebar {
        width: 0;
        padding: 0;
        margin: 30px;
    }

    .logo,
    .navLinks {
        display: none;
    }

    .showSidebar {
        width: auto;
        margin: 0;
        padding: 30px;
    }

    .showNavLinks, .showLogo {
        display: block !important;
        z-index: 50;
    }
    
    .sidebar .hamburger {
        display: block;
    }
}