.details-section {
  height: 120%;
}
.product-detail{
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 10000;
    margin-top: -12%;
    background: rgba(0, 0, 0, 0.24);
  }
  
  .product-detail .detail-container{
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    height: 80vh;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .product-detail .detail-container .close-btn{
    margin-left: 98%;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s;
  }

  .product-detail .detail-container .close-btn:hover{
    color: rgb(209, 18, 18);
  }
  
  
  .product-detail .detail-container .productbox{
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .product-detail .detail-container .productbox .img-box{
    padding: 20px 30px;
    width: 400px;
    height: 350px;
    background: #f1f1f1;
  }
  
  .product-detail .detail-container .productbox .img-box img {
    width: 250px;
    height: 250px;
  
  }
  
  .product-detail .detail-container .productbox .detail{
    margin-left: 30px;
    margin-top: 10px;
  }
  
  .product-detail .detail-container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
  }
  
  .product-detail .detail-container .productbox .detail h2{
    margin-top: 20px;
    font-size: 30px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  
  .product-detail .detail-container .productbox .detail p{
    margin-top: 10px;
    color: #4a4a4a;
  }
  
  .product-detail .detail-container .productbox .detail h3{
    margin-top: 10px;
    color: #0989ff;
    letter-spacing: 1px;
    font-size: 32px;
  }
  
  .product-detail .detail-container .productbox .detail button {
    margin-top: 30px;
    padding: 15px 50px;
    font-size: 18px;
    color: #fff;
    background-color: #010f1c;
    border: none;
    transition: .5s;
  }
  .product-detail .detail-container .productbox .detail button:hover {
    background-color: #0989ff;
  }

  @media screen and (width <= 1350px) {
    .product-detail .detail-container{
      width: 90%;
      height: auto;
    }
    .product-detail .detail-container .productbox .img-box{
      padding: 20px 30px;
      width: 350px;
      height: 350px;
      background: #f1f1f1;
    }
    
    .product-detail .detail-container .productbox .img-box img {
      width: 200px;
      height: 200px;
    }
    
    .product-detail .detail-container .productbox .detail h2{
      margin-top: 5px;
      font-size: 22px;
    }

    .product-detail .detail-container .productbox .detail p {
      font-size: 14px;
    }
    .product-detail .detail-container .productbox .detail h3{
      font-size: 30px;
    }
    .product-detail .detail-container .productbox .detail button {
      margin-top: 10px;
      padding: 15px 50px;
      font-size: 18px;
    }
  }

  @media screen and (width <= 800px) {
    .product-detail .detail-container .productbox{
      flex-direction: column;
      margin-top: 0;
      padding: 0;
    }
    .product-detail .detail-container .productbox .img-box{
      margin: 0 auto;
      width: 260px;
      height: 240px;
    }
  }

  @media screen and (width <= 700px) {
    .product-detail {
      padding: 50px 0 20px;
      margin-top: -20%;
    }
    .product-detail .detail-container{
      padding: 10px 30px 20px;
    }
    .product-detail .detail-container .productbox .img-box{
      padding: 0;
      width: 200px;
      height: 200px;
    }

    .product-detail .detail-container .productbox .img-box img {
      width: 200px;
      height: 200px;
    }
    
    .product-detail .detail-container .productbox .detail h2{
      margin-top: 5px;
      font-size: 16px;
    }

    .product-detail .detail-container .productbox .detail p {
      font-size: 10px;
    }
    .product-detail .detail-container .productbox .detail h3{
      font-size: 25px;
    }
    .product-detail .detail-container .productbox .detail button {
      margin-top: 10px;
      padding: 10px 25px;
      font-size: 15px;
    }
  }

