.products {
  padding: 30px 100px;
}

.products h2 {
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #010f1c;
}

.products p {
  margin-top: 20px;
  color: #9a9a9a;
}

.products .products-section {
  margin-top: 20px;
  display: flex;
}

.products-section .product-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
}

.products .products-section .filter {
  padding: 20px 30px;
  margin-right: 60px;
}

.products .products-section .filter .categories h3{
    color: #010f1c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .products-section .filter .categories ul{
    margin-top: 10px;
}

.products .products-section .filter .categories ul li{
    margin-top: 20px;
    color: #010f1c;
    cursor: pointer;
}



@media (576px >= width) {
    .products{
        padding: 15px;
    }
    .products .products-section{
        flex-direction: column;
    }

    .products-section .product-box {
        grid-template-columns: 1fr;
    }
    
}

@media (577px <= width <= 800px) {
    .products{
        padding: 40px;
    }
    .products .products-section{
        flex-direction: column;
    }

    .products-section .product-box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
}

@media (801px <= width <= 1200px) {
  .products .products-section{
    flex-wrap: wrap;
  }
  .products-section .product-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

