.signup-page {
    padding: 80px 7.5rem;
    background: #f0f0f0;
}

.signup-page .signup-box {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.signup-page .signup-box .signup-form {
    width: 100%;
    padding: 80px 40px;
    background-color: white;
    border-radius: 0 30px 30px 0;
}

.signup-page .signup-box .signup-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-page .signup-form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.signup-page .signup-form input {
    width: 100%;
    padding: 15px;
    max-width: 400px;
    /* border: none; */
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.signup-page .signup-form input:focus {
    border-color: #0989ff;
    transition: .3s linear ;
}

.signup-page .signup-form .signup-btn {
    width: 100%;
    padding: 15px 20px;
    max-width: 400px;
    border: 1px solid transparent;
    background-color: #0989ff;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 10px;
    /* margin-bottom: 20px; */
}

.signup-page .signup-form .signup-btn:hover {
    background-color: white;
    color: #0989ff;
    border: 1px solid #0989ff;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.signup-page .signup-form p {
    margin-top: 10px;
    display: none;
}

.signup-page .signup-form p a{
    color: #0989ff;
}

.signup-page .signup-form p a:hover {
    text-decoration: underline;
    transition: .3s linear;
}

.signup-page .signup-box .right-side {
    width: 100%;
    border-radius: 30px 0 0 30px;
    padding: 40px;
    background-color: #0989ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-page .signup-box .right-side h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.signup-page .signup-box .right-side p {
    text-align: center;
    margin-bottom: 20px;
}


.signup-page .signup-box .right-side div {
    background: #2495ff;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
}

.signup-page .signup-box .right-side div a {
    color: white;
    text-decoration: underline;
}

.signup-page .signup-box .right-side div a:hover {
    color: #0b1bff;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@media (width <= 1200px){
    .signup-page {
        padding: 80px 16px;
    }
    .signup-page .signup-box {
        width: auto;
    }
}

@media (width <= 720px){
    .signup-page .signup-box .right-side{
        display: none;
    }
    .signup-page .signup-box .signup-form {
        border-radius: 30px;
        padding: 40px 20px;
    }
    .signup-page .signup-form p {
        display: block;
    }
}

