/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

a, button{
    cursor:pointer;
    color: black;
}

.active{
  color: #0989ff;
}

.container{
  padding: 0 7.5rem;
  margin-bottom: 40px;

}

@media  screen and (max-width:669px) {
  .container{
    padding: 0 15px;

  }
}
